.d_flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}

.gap_2 {
    gap: 10px;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.justify_around {
    justify-content: space-around;
}

.justify_stretch {
    justify-content: stretch;
}

.justify_start {
    justify-content: flex-start;
}

.align_center {
    align-items: center;
}

.align_between {
    align-items: space-between;
}

.align_around {
    align-items: space-around;
}

.align_stretch {
    align-items: stretch;
}

.m_auto {
    margin-left: auto;
    margin-right: auto;
}

.mt_1 {
    margin-top: 5px;
}

.mt_2 {
    margin-top: 10px;
}

.mt_3 {
    margin-top: 15px;
}

.mt_4 {
    margin-top: 20px;
}

.mt_5 {
    margin-top: 25px;
}

.no_decoration {
    text-decoration: none;
}

.w_25 {
    width: 25%;
}

.w_50 {
    width: 50%;
}

.w_75 {
    width: 75%;
}

.w_100 {
    width: 100%;
}

.c_pointer {
    cursor: pointer;
}

/* dependencies */
.txt_shadow {
    text-shadow: 2px 2px 4px #000000;
}

.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* global elements */
.set_btn {
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 14px;
    border-color: gainsboro;
    min-width: 100px;
}

.btn_main {
    color: black;
    background: #c5ff6d;
    box-shadow: 0 3px 8px 0 rgba(0, 220, 0, 0.1), 0 2px 8px 0 rgba(0, 255, 0, 0.05);
}

.btn_main:hover {
    background: greenyellow;
}

.btn_success {
    color: white;
    background: #27a01c;
    box-shadow: 0 3px 8px 0 rgba(0, 220, 0, 0.1), 0 2px 8px 0 rgba(0, 255, 0, 0.05);
}

.btn_success:hover {
    background: #0ea600;
}

.btn_danger {
    color: white;
    background: #ea1f1f;
    box-shadow: 0 3px 8px 0 rgba(0, 220, 0, 0.1), 0 2px 8px 0 rgba(0, 255, 0, 0.05);
}

.btn_danger:hover {
    background: #f00;
}

.btn_outline {
    color: black;
    background: white;
    box-shadow: 0 3px 8px 0 rgba(0, 220, 0, 0.1), 0 2px 8px 0 rgba(0, 255, 0, 0.05);
}

.btn_outline:hover {
    background: #c5ff6d;
}

.btn_secondary {
    color: white;
    background: #70786fd1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(220, 220, 220, 0.1);
}

.btn_secondary:hover {
    background: #70786f;
}

.form_group {
    padding: 12px 10px;
}

.form_input {
    box-shadow: 0 4px 8px 0 rgb(40 118 139 / 20%), 0 6px 20px 0 rgb(73 193 227 / 10%);
    outline: none;
    border-color: gainsboro;
    padding: 10px 4px;
    max-width: 100%;
}

.form_input:focus {
    border-color: royalblue;
    outline: none;
    box-shadow: 0 4px 8px 0 rgb(40 118 139 / 20%), 0 6px 20px 0 rgb(73 193 227 / 50%);
}


/* system Alert */
.alert_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 90% 10%;
    min-height: 40px;
}
.alert_msg {
    max-height: 100px;
    overflow: auto;
    padding: 8px;
    font-size: 1.1rem;
}
.alert_close {
    text-align: right;
    padding-right: 1px;
    padding-top: 1px;
}
.alert_container.success {
     background: #33ef57;
}